<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>List</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item  ion-item *ngFor="let item of items" (click)="itemTapped($event, item)">
    <ion-thumbnail  item-start>
      <img src="https://api.adorable.io/avatars/dtPickup">
      </ion-thumbnail>
      <h2>Neighbor Totoro</h2>
      <p> <strong>Von: </strong> Hayao Miyazaki • 1988</p>
      <p> <strong>Nach: </strong> Telekom Hauptzentrale </p>
      <p> <strong>Von: </strong> Hayao Miyazaki • 1988</p>
      <p> <strong>Nach: </strong> Telekom Hauptzentrale </p>
      <button ion-button clear item-end>View</button>
    </ion-item>
  </ion-list>
  <div *ngIf="selectedItem" padding>
    You navigated here from <b>{{selectedItem.title}}</b>
  </div>
</ion-content>
