page-profile {
    
  .ProfileFullName {
    font-size: 2em;
  }

  .Oval {
      width: 100px;
      height: 100px;
      object-fit: contain;
  }

  .Rectangle-path {
    width: 24px;
    height: 24px;
  }

  ion-icon{
    font-size: 2em
  }

}
