<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Your Rides</ion-title>
    <ion-buttons end>
      <button (click)="openAddProfile()" ion-button icon-only color="royal">
          <ion-icon name="add"></ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-segment [(ngModel)]="rides" color="secondary">
    <ion-segment-button value="accepted"><ion-badge item-start *ngIf="acceptedRides.length > 0">{{acceptedRides.length}}</ion-badge> Accepted</ion-segment-button>
    <ion-segment-button value="canceled"><ion-badge item-start *ngIf="canceledRides.length > 0">{{canceledRides.length}}</ion-badge> Canceled</ion-segment-button>
  </ion-segment>
  <ion-list *ngIf="rides == 'accepted'">
    <button ion-item *ngFor="let ride of acceptedRides" (click)="showRideProfile(ride.rideId)">
      <ion-avatar item-start>
        <img src="{{ride.driver.photourl}}" class="DriverPhoto">
      </ion-avatar>
      <h2>{{ride.driver.first_name}} {{ride.driver.name}}</h2>
      <div><ion-icon *ngFor="let i of ride.driver.rating | fill" name="star" color="star"></ion-icon></div>
      <div>{{ride.pickupTime}}</div>
    </button>
  </ion-list>
  <ion-list *ngIf="rides == 'canceled'">
    <button ion-item *ngFor="let ride of canceledRides">
      <ion-avatar item-start>
        <img src="{{ride.driver.photourl}}" class="DriverPhoto">
      </ion-avatar>
      <h2>{{ride.driver.first_name}} {{ride.driver.name}}</h2>
      <div><ion-icon *ngFor="let i of ride.driver.rating | fill" name="star" color="star"></ion-icon></div>
      <div>{{ride.pickupTime}}</div>
    </button>
  </ion-list>
</ion-content>