<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>DT PICKUP</ion-title>
    <ion-buttons end>
      <button (click)="openAddProfile()" ion-button icon-only color="royal">
          <ion-icon name="add"></ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div text-center><button>Accepted</button><button>Canceled</button></div>
  <ion-list>
    <ion-item *ngFor="let ride of rides">
      <ion-avatar item-start>
        <img src="assets/img/person-picture@1x.png">
      </ion-avatar>
      <h2>{{ride.driver.first_name}} {{ride.driver.name}}</h2>
      <div><ion-icon *ngFor="let i of ride.driver.rating | fill" name="star" color="star"></ion-icon></div>
      <div>{{ride.pickupTime}}</div>
    </ion-item>
  </ion-list>
</ion-content>