page-profile {
    
  .CarName {
    font-size: 2em;
  }

  .FreeSeat {
    width: 20px;
    height: 20px;
    background-color: #589e0c;
  }

  .TakenSeat {
    width: 20px;
    height: 20px;
    background-color: #d0d0d0;
  }

}
